.loginDialog {
  width: 20rem;
  background-color: white;
}

.labeledInput {
  font-size: large;
  width: 100%;
}

.loginButton {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.signUp {
  display: flex;
  justify-content: right;
}
